<%# create new post card %>
<div class="mx-auto max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <div class="p-5">
        <form enctype="multipart/form-data" accept-charset="UTF-8" action="/post/create" method="post">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= t('create_new_post') %></h5>
            </a>
            <textarea name="post_text" id="message" rows="4" class="mb-2 block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="<%= t("post_description")%> "></textarea>
            <input type="file" name="image" id="image" class="mb-2 block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <button type="submit"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                    <%= t('create') %>
            </button>
        </form>
    </div>
</div>
<%# end create new post card %>

<%# display all posts %>
<% @feeds.each do |feed|%>
    <div class="mx-auto my-5 max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
      <% if feed.is_a?(Post) %>
          <p class="font-normal text-gray-700 dark:text-gray-400"><%= t('user_add_new_post_part1') %> <%= feed.user.username %> <%= t('user_add_new_post_part2') %>.</p>
          <%= render 'shared/post_card', post: feed, type: 'post' %>
        <% elsif feed.is_a?(Comment) %>
        <p class="font-normal text-gray-700 dark:text-gray-400"><%= t('user_add_new_post_part1') %> <%= feed.user.username %> <%= t('user_add_new_comment') %>.</p>
          <%= render 'shared/post_card', post: feed.post, type: 'comment' %>
        <% elsif feed.is_a?(Repost) %>
        <p class="font-normal text-gray-700 dark:text-gray-400"><%= t('user_add_new_post_part1') %> <%= feed.user.username %> <%= t('user_reposted') %>.</p>
          <%= render 'shared/post_card', post: feed.post, type: 'repost' %>
      <% end %>
    </div>
<% end %>
<%# end display all posts %>
<script>
  function toggleAccordion(index) {
    const content = document.getElementById(`content-${index}`);
    const icon = document.getElementById(`icon-${index}`);

    // SVG for Down icon
    const downSVG = `
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
        <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
      </svg>
    `;

    // SVG for Up icon
    const upSVG = `
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
        <path fill-rule="evenodd" d="M11.78 9.78a.75.75 0 0 1-1.06 0L8 7.06 5.28 9.78a.75.75 0 0 1-1.06-1.06l3.25-3.25a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06Z" clip-rule="evenodd" />
      </svg>
    `;

    // Toggle the content's max-height for smooth opening and closing
    if (content.style.maxHeight && content.style.maxHeight !== '0px') {
      content.style.maxHeight = '0';
      icon.innerHTML = upSVG;
    } else {
      content.style.maxHeight = content.scrollHeight + 'px';
      icon.innerHTML = downSVG;
    }
  }
</script>
