
<div class="container mx-auto p-4">
    <h1>الملف الشخصي للمستخدم</h1>
    <hr>
    <p>معلومات المستخدم:</p>
    <% if @user.avatar.attached? %>
        <img src="<%= url_for(@user.avatar) %>" alt="Avatar" class="w-24 h-24 rounded-full object-cover" />
    <% end %>
    <br>
    <form action="/user/avatar" method="post" accept-charset="UTF-8" enctype="multipart/form-data" class="flex items-center space-x-4">
        <input type="file" name="avatar" id="avatar" class="" />
        <%# <button type="submit" onclick="document.getElementById('avatar').click();" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">تغيير الصورة</button> %>
        <button type="submit" class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600"> <%= t('change_profile_avatar')%> </button>
    </form>
    <a href="/user/index">
        <button class="mt-2 px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600"> <%= t('view_all_users') %> </button>
    </a>
    <p>البريد الإلكتروني: <%= @user.email %></p>
    <br>
    <br>
    <p>اسم المستخدم: <%= @user.username %></p>
    <br>
    <p>معرف المستخدم: <%= @user.id %></p>
    <br>
</div>
<br>
<% if @user.posts.any? %>
    <h2>المشاركات:</h2>
    <ul>
        <% @user.posts.reverse.each do |post| %>
            <div class="mx-auto my-5 max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
                <%= render 'shared/post_card', post: post, type: 'post' %>
            </div>
        <% end %>
    </ul>
<% else %>
    <p>لا توجد مشاركات لعرضها.</p>
<% end %>

